# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
flutter_build/
.idea/
.vscode/
*.iml

# Android
*.apk
*.aar
*.gradle
/local.properties

# iOS
Pods/
*.xcworkspace
*.xcuserdata
*.flutter-plugins
*.flutter-plugins-dependencies

# Others
pubspec.lock
*.log
